@import '../../../../assets/variables/color.constants.scss';
.angmp-button {
    background-color: $primary-ligth;
    border: transparent solid 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    width: inherit;
    &:focus {
        outline: 0;
    }
    &:hover {
        border: darken($color: $primary-ligth, $amount: 5) solid 2px;
    }
}

.success {
    background-color: $primary-acceptance-color;
    border: transparent solid 2px;
    &:hover {
        border: solid 2px darken($color: $primary-acceptance-color, $amount: 5);
    }
}

.normal {
    background-color: $primary-ligth;
    border: transparent solid 2px;
    &:hover {
        border: solid 2px darken($color: $primary-ligth, $amount: 5);
    }
}

.warrning {
    background-color: $primary-attantion;
    &:hover {
        border: solid 1px darken($color: $primary-attantion, $amount: 5);
    }
}
