@import '../../../../assets/variables/color.constants.scss';
@import '../../../../assets/variables/size.constants.scss';
@import '../../../../assets/mixins/text.mixins.scss';
@import '../../../../assets/mixins/shape.mixins.scss';
.login {
    display: flex;
    flex: 1;
    justify-content: center;
    &__form {
        @include angmp-block-shadow;
        margin-top: 5%;
        padding: 20px;
        background-color: $primary-ligth;
        width: 300px;
        height: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__fieldset {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px 0;
    }
    &__label {
        flex: 1 0 80px;
        max-width: 80px;
    }
    &__field {
        @include angmp-input;
        flex: 1 0 150px;
    }
    &__button {
        margin-top: 30px;
        width: 100%;
    }
}