<div class="login">
    <div class="login__form">
        <div class="login__fieldset">
            <label for="login" class="login__label">Login:</label>
            <input id="login" class="login__field" [(ngModel)]="login" (keyup.enter)="signIn()">

        </div>

        <div class="login__fieldset">
            <label for="login" class="login__label">Password:</label>
            <input id="pass" class="login__field" [(ngModel)]="pass" (keyup.enter)="signIn()" type="password">

        </div>
        <angmp-button class="login__button" type="success" text="Login" (keyup.enter)="signIn()" (onClick)="signIn()"></angmp-button>
    </div>

</div>