<div class="item-controls">
    <angmp-button class="item-controls__button"
                text="Edit" 
                type="normal" 
                (onClick)="edit()">
    </angmp-button>
    <angmp-button class="item-controls__button"
                text="Delete"
                type="normal"
                (onClick)="delete()">
    </angmp-button>
</div>
