@import '../../../../assets/variables/color.constants.scss';
@import '../../../../assets/variables/size.constants.scss';
@import '../../../../assets/mixins/text.mixins.scss';
.header {
    background: $primary-color;
    display: flex;
    flex: 1;
    height: $header-height;
    .logo {
        display: flex;
        flex: 5;
        align-items: center;
        &__img {
            margin-left: 20px;
        }
        &__title {
            @include angmp-title;
            color: $primary-dark;
            margin-left: 20px;
        }
    } // &__breadcrumbs {}
    .user {
        display: flex;
        flex: 1;
        align-items: center;
        font-size: $font-size-mid; //   &__name {}
        &__logoff {
            margin: 0 10px;
            cursor: pointer;
        }
    }
}