<div class="header">
    <div class="header__logo logo">
        <img class="logo__img" src="../../../../assets/img/computer.png">
        <div class="logo__title">Video Courses</div>
    </div>
    <div class="header__breadcrumbs" *ngIf="isAuth">
        <angmp-breadcrumbs></angmp-breadcrumbs>
    </div>
    <div class="header__user user" *ngIf="isAuth">
        <div class="user__name">{{userInfo | async}}</div>
        <div class="user__logoff" (click)="logOut()">log out</div>
    </div>
</div>
