@import '../assets/variables/color.constants.scss';
@import '../assets/variables/size.constants.scss';
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: $primary-dark;
}

.app {
    &__main {
        height: 100%;
        min-height: calc(100vh - #{$header-height} - #{$footer-height});
    }
}
