<angmp-header></angmp-header>
<div class="app__main">
    <angmp-courses *ngIf="isAuth"></angmp-courses>
    <angmp-login *ngIf="!isAuth"></angmp-login>
    <angmp-add-course *ngIf="isAddCourseVisible|async" class="app__container"></angmp-add-course>
    <angmp-loading></angmp-loading>
</div>
<angmp-footer></angmp-footer>