@import '../../../../assets/variables/color.constants.scss';
@import '../../../../assets/variables/size.constants.scss';
@import '../../../../assets/mixins/text.mixins.scss';
.footer {
    height: $footer-height;
    background-color: $primary-dark;
    display: flex;
    align-items: center;
    &__info {
        margin: 0 10px;
        color: $primary-acceptance-color;
        font-size: $font-size-small;
    }
}
