@import '../../../../assets/mixins/shape.mixins.scss';
@import '../../../../assets/variables/color.constants.scss';
.course-preview {
    display: flex;
    border: 2px solid transparent;
    @include angmp-block-shadow;
    &__main {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        margin: 10px 5px;
    }
    &__description {
        margin: 10px 5px;
    }
    &__top-rated {
        background-color: $top-rated;
    }
}