<div class="course-preview" [ngClass]="{'course-preview__top-rated':course.topRated}" angmpCourseBorder [creationDate]="course.date.getTime()">
    <div class="course-preview__main">
        <div class="course-preview__header">
            <div class="course-preview__title">{{course.name | uppercase}}</div>
            <div class="course-preview__duration">{{course.duration | angmpDuration}}
                <i *ngIf="course.topRated" class="fa fa-star-o"></i>
            </div>
            <div class="course-preview__date">{{course.date | date: 'dd/MM/yyyy'}}</div>
        </div>
        <div class="course-preview__description">
            {{course.description}}
        </div>
    </div>
    <div class="course-preview__side">
        <angmp-course-item-controls (onDelete)="delete()"></angmp-course-item-controls>
    </div>
</div>
