@import '../../../../assets/mixins/shape.mixins.scss';
.course {
    &__toolbox-container {
        padding: 10px 20px;
    }
    &__item-container {
        margin: 20px;
    }
    &__no-data {
        @include angmp-block-shadow;
        padding: 20px;
        margin: 20px;
    }
}