<div class="course__toolbox-container">
    <angmp-toolbox (onSearch)="search($event)"></angmp-toolbox>
</div>
<div class="course__item-wrapper" *ngIf="courses && courses.length; else noData">
    <div class="course__item-container" *ngFor="let course of courses | angmpOrderByDate">
        <angmp-course-item [course]="course" (onUpdate)="onUpdate()"></angmp-course-item>
    </div>
</div>
<ng-template #noData>
    <div class="course__no-data">
        No data. Feel free to add new course.
    </div>
</ng-template>
