<div class="add-course">
    <div class="add-course__form">
        <div class="add-course__fieldset">
            <label for="title" class="add-course__label">Title:</label>
            <input id="title" class="add-course__field" [(ngModel)]="title">
        </div>
        <div class="add-course__fieldset">
            <label for="description" class="add-course__label">Description: </label>
            <textarea rows="6" id="description" class="add-course__field add-course__field--textarea"></textarea>
        </div>
        <div class="add-course__fieldset">
            <label class="add-course__label">Date: </label>
            <angmp-date-picker></angmp-date-picker>
        </div>
        <div class="add-course__fieldset">
            <label class="add-course__label">Duration: </label>
            <angmp-duration-input></angmp-duration-input>
        </div>
        <div class="add-course__fieldset">
            <label class="add-course__label">Author: </label>
            <angmp-author></angmp-author>
        </div>
        <div class="add-course__controls">
            <angmp-button class="add-course__button" text="Save" type="success"></angmp-button>
            <angmp-button class="add-course__button" text="Cancel"></angmp-button>
        </div>
    </div>
</div>