@import '../../../../assets/mixins/shape.mixins.scss';
@import '../../../../assets/variables/color.constants.scss';
@import '../../../../assets/variables/size.constants.scss';
.add-course {
    display: flex;
    flex: 1;
    justify-content: center;
    &__form {
        @include angmp-block-shadow;
        margin-top: 5%;
        padding: 20px;
        flex-direction: column;
        width: 60%;
    }
    &__fieldset {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px;
    }
    &__label {
        padding: 10px;
        flex: 1 0 80px;
        max-width: 80px;
    }
    &__field {
        @include angmp-input;
        flex: 1 0 150px;
        &--textarea {
            resize: none;
        }
    }
    &__controls {
        display: flex;
        justify-content: space-around;
    }
}